---
layout: default
title: Daniel Bower – Archive
permalink: /archive/
---

<div>

    <h2>Archive</h2>

    <p>I have been blogging since 2004 using various different domains and publishing platforms – hands up if you
        remember Typepad?!</p>

    <p>I blog about anything that takes my fancy, however recently my posts have tended to focus on political economy
        and startups, ideally a combination of the two. This focus stems from my time running startups and my recent <a
            href="/music-streaming-venture-capital-kill-zones/">master's research</a>.</p>

    <hr>

    <section class="archive_list">
        {% for post in site.posts %}
        {% unless post.title == "Link roll" %}
        <div class="post_title">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a>
            <span class="date">{{ post.date | date: "%-d %b, %Y" }}</span>
        </div>
        {% endunless %}
        {% endfor %}
    </section>

    <!-- ORIGINAL THEME LAYOUT

  <section class="archive_list">
    {% for category in site.categories %}

    <div class="category-name">
      <h2>{{ category | first }}</h2>
    </div>
    {% for post in category.last %}

    <div class="post_title">
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a>
      <span class="date">{{ post.date | date: "%-d %b, %Y" }}</span>
    </div>

    {% endfor %}

    {% endfor %}

  </section>

  -->

</div>
