---
layout: default
title: Daniel Bower – Archive
permalink: /archive/
---

<div>

    <h1 class="article_title">Archive</h1>

    <p>I have been blogging since 2004 using various different domains and publishing platforms – hands up if you
        remember Typepad?!</p>

    <p>I blog about anything that takes my fancy, however they tend to be related to my work as an entreprenuer and
        product manager and also my research into the political economy of startups, technology platforms and music.</p>

    <p>I also like
        to share interesting links on my blog along with some brief notes. You can find all of them on <a
            href="/link-rolling/">Link Rolling</a>.</p>

    <hr>

    {% assign archive_posts = site.posts | where_exp: "post", "post.title != 'Link roll'" %}
    {% assign years = archive_posts | group_by_exp: "post", "post.date | date: '%Y'" %}

    <section class="archive_by_year">
        {% for year in years %}
        <details class="archive_year" {% if forloop.first %}open{% endif %}>
            <summary class="archive_year_summary">
                <span class="archive_year_row">
                    <span class="archive_year_label">{{ year.name }}</span>
                    <span class="archive_year_count">{{ year.items | size }} posts</span>
                </span>
            </summary>
            <div class="archive_year_posts">
                {% for post in year.items %}
                <div class="post_title">
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a>
                    <span class="date">{{ post.date | date: "%-d %b, %Y" }}</span>
                </div>
                {% endfor %}
            </div>
        </details>
        {% endfor %}
    </section>

</div>
