---
layout: default
title: Daniel Bower – In Search of Kill Zones - Music Streaming and the VC View
permalink: /music-streaming-venture-capital-kill-zones/
---

<div>

  <h2>In Search of Kill Zones: Music Streaming and the VC View</h2>

  <h3>A Note to Readers</h3>

  <p>This research was submitted as part of a master's programme at the Department of Digital Humanities, King's College London during the 2020/21 academic year.</p>

  <p>While it scored highly (80/100), and both my supervisor and the second marker suggested it was worthy of journal submission, it is important to note that it has not been peer reviewed. Rather than go through the often laborious journal review process, and in the spirit of open data, I decided to publish my work here.</p>

  <p>I am keen to hear from others who are interested in the kill zone phenomenon and would encourage readers to get in touch with any feedback they might have on my work. You can <a href="https://twitter.com/danielbower">contact me on Twitter</a>, or via email. Hint: my name at gmail dot com.</p>

  <h3>Abstract</h3>

  <p>This dissertation contributes to the existing literature on kill zones through the examination of venture investing into music and audio startups in North America and Europe following the entry of Amazon, Apple and Google into the market. In addition, it provides the only example of in-depth interviews (n=4) conducted with venture capitalists on the topic of the kill zone. Through analysis of Crunchbase the data reveals a 32.5% decrease in the number of early stage venture financing rounds into music and audio startups in North America and Europe despite sustained increases in investment in the wider venture financing sector. Through semi-structured interviewing it is also revealled how a venture capitalist’s attitude towards the acquisition of one of their portfolio companies will impact their view of the kill zone. This important distinction goes someway to explaining the otherwise inconclusive nature of the existing empirical research into kill zones.</p>

  <h3>Downloads</h3>
  <p>PDF • <a href="/assets/pdf/daniel-bower-music-streaming-kill-zones.pdf">In Search of Kill Zones - Music Streaming and the VC View</a></p>
  <p>Data • <a href="/assets/data/music-streaming-kill-zones.xlsx">Excel</a> / <a href="https://docs.google.com/spreadsheets/d/1bh_tgRgsKPg75tLW1HArCmkC_3l9mzvLsM3366AZzNE/edit?usp=sharing">Google Shets</a></p>

  <!-- ORIGINAL THEME LAYOUT

  <section class="archive_list">
    {% for category in site.categories %}

    <div class="category-name">
      <h2>{{ category | first }}</h2>
    </div>
    {% for post in category.last %}

    <div class="post_title">
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a>
      <span class="date">{{ post.date | date: "%-d %b, %Y" }}</span>
    </div>

    {% endfor %}

    {% endfor %}

  </section>

  -->

  </div>
