---
layout: page
permalink: /today-i-learned/
title: Today I Learned
og: "TIL blog posts from Daniel Bower."
---

<div>

  <p>I have found that publishing my thoughts, and therefore capturing them in a way that another person could understand, to be very effective way of both retaining knowledge and better understading my subject matter. These TIL or 'Today I Learned' posts are all examples of this practice and are very much inspiried by <a href="https://simonwillison.net/2022/Nov/6/what-to-blog-about/">an original post from Simon Willison</a></p>

  <hr>

  <section class="archive_list">
  {% for post in site.categories['Today I Learned'] %}
  <div class="post_title">
  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a>
  <span class="date">{{ post.date | date: "%-d %b, %Y" }}</span>
  </div>
  {% endfor %}
  </section>

  <!-- ORIGINAL THEME LAYOUT

  <section class="archive_list">
    {% for category in site.categories %}

    <div class="category-name">
      <h2>{{ category | first }}</h2>
    </div>
    {% for post in category.last %}

    <div class="post_title">
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a>
      <span class="date">{{ post.date | date: "%-d %b, %Y" }}</span>
    </div>

    {% endfor %}

    {% endfor %}

  </section>

  -->
  
  </div>