<section class="author">
    <img
        class="authorimage"
        src="{{site.baseurl}}/assets/img/dan-2021.jpg"
        alt="Photo of Dan Bower"
    />
    <div class="authorinfo">
        <p>Hi there, thanks for stopping by!</p>
        <p class="bio">
            My name is Dan, I'm a product manager, entrepreneur and currently
            Head of Product for Digital Screening at NHS England. Check out my
            <a href="/archive/">blog archive</a> or read more
            <a href="/about/">about me</a>.
        </p>
    </div>
</section>