---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="article_header">
    <h1 class="article_title" itemprop="name headline">{{ page.title }}</h1>
    <p class="article_meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%e %B, %Y" }}</time>
        
        {% if post %}
        {% assign categories = post.categories %}
        {% else %}
        {% assign categories = page.categories %}
        {% endif %}
        {% for category in categories %}
        • <a href="{{site.baseurl}}/{{category|slugify}}">{{category}}</a>
        {% unless forloop.last %}&nbsp;{% endunless %}
        {% endfor %}
        
  </header>
  
  <div class="article-content" itemprop="articleBody">
    {{ page.content }}
  </div>

  <script>
    document.querySelectorAll('.article-content p > img:only-child').forEach(function (img) {
      if (!img.alt) return;
      var figure = document.createElement('figure');
      var figcaption = document.createElement('figcaption');
      figcaption.textContent = img.alt;
      img.parentElement.replaceWith(figure);
      figure.appendChild(img);
      figure.appendChild(figcaption);
    });
  </script>

  <footer class="article-footer">

  {% include share.html %}

<!--- <hr/> --->

  {% include author.html %}

  </footer>

  {% include dq.html %}

</article>